.task_container {
  position: relative;
  width: 90%;
  max-width: 650px;
  margin: 5px auto;
  padding: 0px 15px 15px 15px;
  border: 1px solid var(--dark);
  border-radius: 5px;

  .task_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    strong {
      display: inline;
    }
    h3 {
      max-width: 70%;
    }

    .due_date {
      min-width: 25%;
    }
  }

  .edit_button {
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
}
.completed {
  border: 5px solid var(--green);
}
