.task_container {
  position: relative;
  width: 90%;
  max-width: 650px;
  margin: 5px auto;
  padding: 0px 15px 15px 15px;
  border: 1px solid var(--dark);
  border-radius: 5px;
}

.task_container .task_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task_container .task_header h3 {
  max-width: 70%;
}

.task_container .task_header .due_date {
  min-width: 25%;
}

.task_container .edit_button {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.completed {
  border: 5px solid var(--green);
}
