.task_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 650px;
  margin: 5px auto;
  padding: 0px 15px 15px 15px;
  border: 1px solid var(--dark);
  border-radius: 5px;

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--red);
    color: white;
    border: none;
    padding: 6px 8px;
    border-radius: 5px;
  }
}
