.header {
  width: 100%;
  padding: 0px 24px;
  height: 70px;
  border-bottom: 1px solid var(--dark);
  font-weight: bold;
  .desktop_nav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      margin-right: 20px;
    }

    a,
    p {
      padding: 5px 12px;
      text-decoration: none;
      color: var(--dark);
      transition: all 0.45s ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 500px) {
      display: none;
    }

    .left_links,
    .right_links {
      display: flex;
      align-items: center;
    }
  }

  .mobile_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 501px) {
      display: none;
    }
    .mobile_nav_menu {
      position: absolute;
      width: 100%;
      top: 70px;
      left: 0px;
      background-color: var(--dark);
      list-style: none;
      z-index: 100;
      opacity: 0;
      transform: translateX(-100%);
      transition: all 0.45s ease-in-out;
      a,
      p {
        display: block;
        color: var(--white);
        margin: 25px 0px;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
      }
    }

    .mobile_nav_menu_open {
      position: absolute;
      width: 100%;
      top: 70px;
      left: 0px;
      background-color: var(--dark);
      list-style: none;
      z-index: 100;
      transform: translateX(0);
      opacity: 1;
      transition: all 0.45s ease-in-out;
      a,
      p {
        display: block;
        color: var(--white);
        margin: 25px 0px;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
