.header {
  width: 100%;
  padding: 0px 24px;
  height: 70px;
  border-bottom: 1px solid var(--dark);
  font-weight: bold;
}

.header .desktop_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .desktop_nav .logo {
  margin-right: 20px;
}

.header .desktop_nav a,
.header .desktop_nav p {
  padding: 5px 12px;
  text-decoration: none;
  color: var(--dark);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.header .desktop_nav a:hover,
.header .desktop_nav p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .header .desktop_nav {
    display: none;
  }
}

.header .desktop_nav .left_links,
.header .desktop_nav .right_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .mobile_nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 501px) {
  .header .mobile_nav {
    display: none;
  }
}

.header .mobile_nav .mobile_nav_menu {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0px;
  background-color: var(--dark);
  list-style: none;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.header .mobile_nav .mobile_nav_menu a,
.header .mobile_nav .mobile_nav_menu p {
  display: block;
  color: var(--white);
  margin: 25px 0px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.header .mobile_nav .mobile_nav_menu_open {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0px;
  background-color: var(--dark);
  list-style: none;
  z-index: 100;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.header .mobile_nav .mobile_nav_menu_open a,
.header .mobile_nav .mobile_nav_menu_open p {
  display: block;
  color: var(--white);
  margin: 25px 0px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}
